extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nostros")
            .col-md-7
                h1= pagina
                blockquote Aenean blandit placerat risus, sed cursus dui tempus id. Nunc sit amet molestie eros, ac convallis nunc. Curabitur ante nibh, maximus a tellus eget, ultricies congue orci. In sollicitudin congue libero quis dictum. Vivamus arcu velit, posuere viverra libero in, ornare volutpat felis. Integer erat odio, pellentesque sed porta et, consectetur quis sapien. Suspendisse potenti. Praesent vitae enim maximus, commodo nulla sit amet, semper enim. 
                p Integer at rhoncus ligula. Nam blandit elit ac massa ultricies, a laoreet erat molestie. Nulla tincidunt ligula non ante congue, vel tincidunt metus euismod. Suspendisse condimentum iaculis metus.
                p Integer pretium laoreet ligula, eget suscipit risus venenatis et. Phasellus non mollis sapien. Praesent vestibulum maximus ante, at finibus est consequat ac. In arcu sapien, blandit nec cursus fermentum, vulputate sit amet mauris. Donec a pretium arcu, auctor elementum tellus. Etiam dapibus vestibulum elit in sodales. Duis bibendum dui lobortis enim venenatis efficitur. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Aenean tempus nulla vel mollis eleifend. Nunc ante nisl, convallis sed quam ac, accumsan molestie justo. Donec convallis sem imperdiet, facilisis ante eget, laoreet sapien.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Aenean tempus nulla vel mollis eleifend. Nunc ante nisl, convallis sed quam ac, accumsan molestie justo. Donec convallis sem imperdiet, facilisis ante eget, laoreet sapien.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor precio
                    p Aenean tempus nulla vel mollis eleifend. Nunc ante nisl, convallis sed quam ac, accumsan molestie justo. Donec convallis sem imperdiet, facilisis ante eget, laoreet sapien.